@import '~styles/index.scss';

.capacitySettings {
  &EditDriverModal {
    &PhotoBlock {
      width: 235px;
      margin: 25px 0 0;
    }

    &SettingsContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &InputsContainer {
      display: flex;

      .conciergeInputWrapper {
        width: 235px;
        margin-right: 40px;
      }
    }

    &PhotoAndWorkingHoursContainer {
      display: flex;
      justify-content: space-between;
    }

    &Label {
      font-family: $ff-lato;
      font-size: map-get($sizes, smaller);
      line-height: 18px;
      color: map-get($colors, main-black);
    }

    &Input {
      @include sizing(100% 48px);

      margin-top: 4px;
      padding: 14px 16px;
      font-family: $ff-lato;
      font-size: map-get($sizes, regular);
      line-height: 20px;
      border: 1px solid map-get($colors, darker-gray);
      border-radius: 6px;
      color: map-get($colors, main-black);
      background-color: map-get($colors, white);
    }

    &StatusContainer {
      height: 50px;
    }

    &StatusBar {
      max-width: auto;
      margin: 0 auto;
      padding: 8px 0;
      font-family: $ff-lato;
      font-size: map-get($sizes, regular);
      line-height: 20px;
      text-align: center;
      border-radius: 10px;
      color: map-get($colors, white);
      box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.16);
      cursor: pointer;

      &Success {
        background-color: map-get($colors, green2);
      }

      &Error {
        background-color: map-get($colors, red);
      }
    }

    &HoursBlock {
      display: flex;
      width: 320px;
      justify-content: space-between;
    }

    &HoursSelect {
      width: 150px;
    }

    &WorkingHoursBlock {
      width: 700px;
      margin: 25px 0 0;

      &Content {
        display: flex;
        height: 330px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
      }
    }

    .conciergeImageInputLabel {
      @include sizing(200px);

      margin: 15px 0;
    }

    .conciergeImageInputNoImageText {
      padding-top: 75px;
    }

    .conciergeImageInputUploadText {
      padding: 75px 20px 0 0;
    }
  }
}

.StyledSelect__menu {
  height: 240px;
}
