@import '~styles/index.scss';

.transportation {
  &RadioContainer {
    display: flex;
    flex-flow: column nowrap;
  }

  &Container {
    display: flex;
  }

  &Question {
    margin: 0 0 8px;
  }
}

.transportButton {
  text-transform: capitalize;
  border: 1px solid map-get($colors, darker-gray);
  color: map-get($colors, main-black);
  background: map-get($colors, white);
  box-shadow: 0 4px 10px 0 rgba(map-get($colors, shadow-gray), 0.08);

  & + & {
    margin-left: 10px;
  }

  &.transportSelected {
    height: 50px;
    border: 1px solid map-get($colors, light-blue);
    color: map-get($colors, light-blue);
    background: rgba(map-get($colors, light-blue), 0.05);
  }
}

.transportationSelect {
  margin: 14px 0 12px;
  line-height: 20px;
}
