@import '~styles/index.scss';

.conciergeButton {
  @include main-font;

  height: 48px;
  outline: none;
  border: 1px solid map-get($colors, darker-gray);
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
}
