@import '~styles/index.scss';

.conciergeFileInputWrapper {
  display: flex;
  padding: 0 0 20px;
  justify-content: flex-end;
}

.conciergeFileInputButton {
  @include sizing(180px 48px);

  padding: 0;
  font-family: $ff-ibm;
  font-size: map-get($sizes, slightly-bigger);
  line-height: 16px;
  border: none;
  border-radius: 6px;
  color: map-get($colors, white);
  background: map-get($colors, button-gradient);
  box-shadow: 0 8px 15px 0 rgba(map-get($colors, black), 0.18);
  cursor: pointer;
}
