@import '~styles/index.scss';

.menuTemplatePage {
  height: calc(100% - #{$header-height});
  min-height: calc(100vh - #{$header-height});

  &Main {
    @include horizontally-centered;

    padding: 16px 0;
  }

  &ServiceGroup {
    @include sizing(1110px 56px);

    display: flex;
    margin-bottom: 16px;
    padding: 0 24px;
    font-family: $ff-ibm;
    font-size: map-get($sizes, big);
    letter-spacing: 0.15px;
    line-height: 32px;
    border: 1px solid map-get($colors, darker-gray);
    border-radius: 6px;
    color: map-get($colors, main-black);
    background-color: map-get($colors, white);
    align-items: center;
  }

  &NewMenuItemButton {
    @include sizing(1110px 48px);

    margin-bottom: 32px;
    font-family: $ff-ibm;
    font-size: map-get($sizes, slightly-bigger);
    line-height: 16px;
    border: 1px solid map-get($colors, darker-gray);
    border-radius: 6px;
    color: map-get($colors, light-blue);
    background-color: map-get($colors, white);
    cursor: pointer;
  }
}
