@import '~styles/index.scss';

$modal_width: 654px;
$modal_height: 350px;

.menuTemplates {
  &AddMenuItemModal {
    @include sizing($modal_width auto);

    position: fixed;
    top: calc(50% - #{$modal_height / 2});
    left: calc(50% - #{$modal_width / 2});
    z-index: $z-index-2;
    border: 1px solid map-get($colors, darker-gray);
    border-radius: 10px;
    background-color: map-get($colors, white);
    box-shadow: 0 4px 10px 0 rgba(map-get($colors, shadow-gray), 0.08);

    &Header {
      @include sizing(652px 64px);

      display: flex;
      padding: 0 24px;
      font-family: $ff-lato;
      font-size: map-get($sizes, bigger);
      letter-spacing: -0.15px;
      line-height: 22px;
      border-radius: 12px 12px 0 0;
      border-bottom: 1px solid map-get($colors, darker-gray);
      color: map-get($colors, black);
      background-color: map-get($colors, light-gray);
      align-items: center;
      justify-content: space-between;
    }

    &CloseButton {
      @include sizing(24px 24px);

      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    &Body {
      width: 100%;
      padding: 24px;
    }

    &Label {
      margin-bottom: 4px;
      font-family: $ff-lato;
      font-size: map-get($sizes, smaller);
      line-height: 18px;
      color: map-get($colors, main-black);

      &--topMargin {
        margin-top: 10px;
      }
    }

    &Checkbox {
      margin: 10px 10px 0 0;
    }

    &Footer {
      display: flex;
      width: 100%;
      padding: 0 24px 24px;
      justify-content: flex-end;
    }

    &Cancel {
      @include sizing(109px 48px);

      margin-right: 20px;
      padding: 0;
      font-family: $ff-ibm;
      font-size: map-get($sizes, slightly-bigger);
      line-height: 16px;
      border: 1px solid map-get($colors, blueish-gray);
      border-radius: 6px;
      color: map-get($colors, main-black);
      background-color: map-get($colors, white);
      cursor: pointer;
    }

    &Save {
      @include sizing(96px 48px);

      padding: 0;
      font-family: $ff-ibm;
      font-size: map-get($sizes, slightly-bigger);
      line-height: 16px;
      border: none;
      border-radius: 6px;
      color: map-get($colors, white);
      background: map-get($colors, button-gradient);
      box-shadow: 0 8px 15px 0 rgba(map-get($colors, black), 0.18);
      cursor: pointer;

      &--disabled {
        background: map-get($colors, darker-gray);
        cursor: not-allowed;
      }
    }
  }

  &AddMenuItemModalOverlay {
    @include fixed(top 0 left 0);
    @include sizing(100vw 100vh);

    z-index: $z-index-1;
    background-color: rgba(map-get($colors, darkest-gray), 0.95);
  }
}

.addMenuItemSelect,
.salesEmailsSelect {
  &__control {
    height: 48px;
    font-family: $ff-lato;
    font-size: map-get($sizes, regular);
    line-height: 20px;
    border: 1px solid map-get($colors, darker-gray);
    border-radius: 6px;
    color: map-get($colors, main-black);
    background-color: map-get($colors, white);
  }

  &__menu {
    display: flex;
    padding: 8px 0;
    font-family: $ff-lato;
    font-size: map-get($sizes, regular);
    line-height: 20px;
    border: 1px solid map-get($colors, darker-gray);
    border-radius: 10px;
    background-color: map-get($colors, white);
    box-shadow: 0 12px 30px 0 rgba(map-get($colors, black), 0.16);
    flex-direction: column;

    .menuHidden & {
      display: none;
    }

    &-list {
      padding: 0;

      .addMenuItemSelect__option {
        display: flex;
        height: auto;
        min-height: 44px;
        font-family: $ff-lato;
        font-size: map-get($sizes, regular);
        line-height: 20px;
        border: none;
        color: map-get($colors, main-black);
        align-items: center;

        &--is-selected {
          background-color: rgba(map-get($colors, light-blue), 0.1);
        }

        &--is-focused {
          background-color: rgba(map-get($colors, light-blue), 0.05);
        }
      }
    }
  }
}

.salesEmailsSelect {
  &Wrapper {
    position: relative;
    margin-bottom: 25px;
  }

  &Label {
    margin-bottom: 3px;
    font-family: $ff-lato;
    font-size: map-get($sizes, smaller);
  }

  &Error {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    color: map-get($colors, warning-red);
  }

  &__control,
  .conciergeSettingsPage &__control {
    height: 100%;
    min-height: 44px;
  }
}
