@import "~styles/index.scss";

.capacityDashboard {
  border: 1px solid $color-light-gray;
  border-bottom: none;
  background-color: map-get($colors, white);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
  position: relative;

  &LoadingOverlay {
    font-family: $ff-lato;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.7;
    z-index: $z-index-one;
  }

  &Row {
    display: flex;

    &Pale {
      background-color: $color-pale-blue;
    }


    & + & {
      border-top: 1px solid $color-light-gray;
    }

    &Item {
      padding: 12px 24px;
      font-family: $ff-lato;
      font-size: map-get($sizes, regular);
      font-style: normal;
      line-height: 24px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: inherit;
      width: inherit;
      margin: 0;
      position: relative;
      min-height: 58px;

      &Selected {
        color: map-get($colors, mint);
      }

      &Pinned {
        text-align: left;
        min-width: 20%;
        background-color: map-get($colors, white);
        border-right: 1px solid $color-light-gray;
      }

      &Pale {
        background-color: $color-pale-blue;
      }

      &Top {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }

      &Avatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid $color-light-gray;
      }

      &Title {
        font-weight: bold;

        &--padding-left {
          padding-left: 8px;
        }
      }

      &Toggle {
        margin-right: auto;
        padding: 0 4px;
        background: none;

        img {
          width: 16px;
        }
      }

      &Counter {
        color: $color-gray;
      }
    }
  }

  &ProgressBar {
    background-color: $color-light-gray;
    border-radius: 8px;
    width: 100%;
    height: 4px;
    margin-top: 8px;

    &Value {
      max-width: 100%;
      height: 100%;
      border-radius: 8px;
      background-color: map-get($colors, light-blue);
    }
  }

  &Carousel {
    &Outer {
      min-width: 80%;
      display: flex;
    }

    &Wrapper {
      width: calc(100% - 72px);

      &NoButtons {
        width: 100%;
      }
    }

    .slider-slide + .slider-slide {
      border-left: 1px solid $color-light-gray;
    }

    .slider-slide:last-of-type {
      border-right: 1px solid $color-light-gray;
    }
  }
}
