@import '~styles/index.scss';

$modal_width: 554px;
$modal_height: auto;

.dataEdition {
  &Modal {
    @include fixed(top 50% left 50%);
    @include sizing($modal_width, $modal_height);

    z-index: $z-index-2;
    overflow: hidden;
    border: 1px solid map-get($colors, darker-gray);
    border-radius: 10px;
    background-color: map-get($colors, white);
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px 0 rgba(map-get($colors, shadow-gray), 0.08);

    &Header {
      @include sizing(auto 64px);

      display: flex;
      min-width: $modal_width;
      padding: 0 24px;
      font-family: $ff-lato;
      font-size: map-get($sizes, bigger);
      letter-spacing: -0.15px;
      line-height: 22px;
      border-bottom: 1px solid map-get($colors, darker-gray);
      color: map-get($colors, black);
      background-color: map-get($colors, light-gray);
      align-items: center;
      justify-content: space-between;
    }

    &CloseButton {
      @include sizing(24px 24px);

      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    &Body {
      overflow: scroll;
      width: 100%;
      height: calc(100vh - 200px);
      padding: 24px;
    }

    &Loader {
      display: block;
      padding: 0 100px;
      text-align: center;
    }

    &Label {
      @include main-font;

      display: block;
      padding: 8px 0;
      font-size: map-get($sizes, smaller);
      line-height: 18px;
      color: map-get($colors, main-black);
    }

    &MakeModelYearRow {
      display: flex;
      justify-content: space-between;

      .dataEditionModalLabel {
        width: 30%;
      }
    }

    &Select {
      @include main-font;

      color: map-get($colors, main-black);
    }

    &Input {
      @include sizing(100% 48px);
      @include main-font;

      padding: 14px 16px;
      font-size: map-get($sizes, regular);
      line-height: 20px;
      border: 1px solid map-get($colors, darker-gray);
      border-radius: 6px;
      color: map-get($colors, main-black);
      background-color: map-get($colors, white);

      span {
        margin-bottom: 4px;
      }

      &.error {
        border-color: map-get($colors, pink);
      }

      &Group {
        display: flex;
      }

      &Group & {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &Button {
        padding: 15px;
        border: 1px solid map-get($colors, darker-gray);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
      }

      &Error {
        @include main-font;

        margin-top: 4px;
        font-size: map-get($sizes, smaller);
        color: map-get($colors, pink);
      }

      &Wrapper {
        position: relative;

        .autocomplete-dropdown-container {
          position: absolute;
          top: 55px;
          z-index: $z-index-2;
          overflow: hidden;
          width: 100%;
          padding: 5px 0;
          border: 1px solid map-get($colors, darker-gray);
          border-radius: 6px;
          background-color: map-get($colors, white);

          .suggestion-item {
            padding: 5px 15px;
            font-family: $ff-lato;
            background-color: map-get($colors, white);
            cursor: "pointer";

            &--active {
              background-color: map-get($colors, darker-gray);
            }
          }
        }
      }
    }

    &Footer {
      display: flex;
      width: 100%;
      padding: 0 24px 24px;
      justify-content: flex-end;
    }

    &Cancel {
      @include sizing(109px 48px);
      @include secondary-font;

      margin-right: 20px;
      padding: 0;
      font-size: map-get($sizes, slightly-bigger);
      line-height: 16px;
      border: 1px solid map-get($colors, blueish-gray);
      border-radius: 6px;
      color: map-get($colors, main-black);
      background-color: map-get($colors, white);
      cursor: pointer;
    }

    &Save {
      @include sizing(96px 48px);
      @include secondary-font;

      padding: 0;
      font-size: map-get($sizes, slightly-bigger);
      line-height: 16px;
      border: none;
      border-radius: 6px;
      color: map-get($colors, white);
      background: map-get($colors, button-gradient);
      box-shadow: 0 8px 15px 0 rgba(map-get($colors, black), 0.18);
      cursor: pointer;
    }

    &StatusBar {
      max-width: 1120px;
      margin: 31px auto 0;
      padding: 8px 0;
      text-align: center;
      border-radius: 10px;
      color: map-get($colors, white);
      box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.16);

      &Red {
        background-color: map-get($colors, red);
      }
    }
  }

  &AddTemplateOverlay {
    @include fixed(top 0 left 0);
    @include sizing(100vw 100vh);

    z-index: $z-index-1;
    background-color: rgba(map-get($colors, darkest-gray), 0.95);
  }
}

.modelCodeSelect {
  &__control {
    height: 48px;
    font-family: $ff-lato;
    font-size: map-get($sizes, regular);
    line-height: 20px;
    border: 1px solid map-get($colors, darker-gray);
    border-radius: 6px;
    color: map-get($colors, main-black);
    background-color: map-get($colors, white);
  }

  &__indicator {
    transform: rotateZ(180deg);
  }

  &__menu {
    display: flex;
    height: 200px;
    padding: 0;
    font-family: $ff-lato;
    font-size: map-get($sizes, regular);
    line-height: 20px;
    border: 1px solid map-get($colors, darker-gray);
    border-radius: 10px;
    background-color: map-get($colors, white);
    box-shadow: 0 12px 30px 0 rgba(map-get($colors, black), 0.16);
    flex-direction: column;

    .menuHidden & {
      display: none;
    }

    &-list {
      padding: 0;

      .addMenuItemSelect__option {
        display: flex;
        height: auto;
        min-height: 44px;
        font-family: $ff-lato;
        font-size: map-get($sizes, regular);
        line-height: 20px;
        border: none;
        color: map-get($colors, main-black);
        align-items: center;

        &--is-selected {
          background-color: rgba(map-get($colors, light-blue), 0.1);
        }

        &--is-focused {
          background-color: rgba(map-get($colors, light-blue), 0.05);
        }
      }
    }
  }
}
