@import '~styles/index.scss';

.dataEdition {
  &Modal {
    &Loader {
      display: block;
      padding: 0 100px;
      text-align: center;
    }

    &Label {
      @include main-font;

      display: block;
      padding: 8px 0;
      font-size: map-get($sizes, smaller);
      line-height: 18px;
      color: map-get($colors, main-black);
    }

    &MakeModelYearRow {
      display: flex;
      justify-content: space-between;

      .dataEditionModalLabel {
        width: 30%;
      }
    }

    &Select {
      @include main-font;

      color: map-get($colors, main-black);
    }

    &Input {
      @include sizing(100% 48px);
      @include main-font;

      padding: 14px 16px;
      font-size: map-get($sizes, regular);
      line-height: 20px;
      border: 1px solid map-get($colors, darker-gray);
      border-radius: 6px;
      color: map-get($colors, main-black);
      background-color: map-get($colors, white);

      span {
        margin-bottom: 4px;
      }

      &.error {
        border-color: map-get($colors, pink);
      }

      &Group {
        display: flex;
      }

      &Group & {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &Button {
        padding: 15px;
        border: 1px solid map-get($colors, darker-gray);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
      }

      &Error {
        @include main-font;

        margin-top: 4px;
        font-size: map-get($sizes, smaller);
        color: map-get($colors, pink);
      }

      &Wrapper {
        position: relative;

        .autocomplete-dropdown-container {
          position: absolute;
          top: 55px;
          z-index: $z-index-2;
          overflow: hidden;
          width: 100%;
          padding: 5px 0;
          border: 1px solid map-get($colors, darker-gray);
          border-radius: 6px;
          background-color: map-get($colors, white);

          .suggestion-item {
            padding: 5px 15px;
            font-family: $ff-lato;
            background-color: map-get($colors, white);
            cursor: "pointer";

            &--active {
              background-color: map-get($colors, darker-gray);
            }
          }
        }
      }
    }

    &StatusBar {
      max-width: 1120px;
      margin: 31px auto 0;
      padding: 8px 0;
      text-align: center;
      border-radius: 10px;
      color: map-get($colors, white);
      box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.16);

      &Red {
        background-color: map-get($colors, red);
      }
    }
  }
}

.modelCodeSelect {
  &__control {
    height: 48px;
    font-family: $ff-lato;
    font-size: map-get($sizes, regular);
    line-height: 20px;
    border: 1px solid map-get($colors, darker-gray);
    border-radius: 6px;
    color: map-get($colors, main-black);
    background-color: map-get($colors, white);
  }

  &__indicator {
    transform: rotateZ(180deg);
  }

  &__menu {
    display: flex;
    height: 200px;
    padding: 0;
    font-family: $ff-lato;
    font-size: map-get($sizes, regular);
    line-height: 20px;
    border: 1px solid map-get($colors, darker-gray);
    border-radius: 10px;
    background-color: map-get($colors, white);
    box-shadow: 0 12px 30px 0 rgba(map-get($colors, black), 0.16);
    flex-direction: column;

    .menuHidden & {
      display: none;
    }

    &-list {
      padding: 0;

      .addMenuItemSelect__option {
        display: flex;
        height: auto;
        min-height: 44px;
        font-family: $ff-lato;
        font-size: map-get($sizes, regular);
        line-height: 20px;
        border: none;
        color: map-get($colors, main-black);
        align-items: center;

        &--is-selected {
          background-color: rgba(map-get($colors, light-blue), 0.1);
        }

        &--is-focused {
          background-color: rgba(map-get($colors, light-blue), 0.05);
        }
      }
    }
  }
}
