@import '~styles/index.scss';

$modal_width: 768px;

.conciergeDealershipDetails {
  &AddIntegrationModal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: $z-index-2;
    overflow-y: scroll;
    width: $modal_width;
    max-height: 95%;
    border: 1px solid map-get($colors, darker-gray);
    border-radius: 10px;
    background-color: map-get($colors, white);
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px 0 rgba(map-get($colors, shadow-gray), 0.08);

    &Header {
      @include sizing($modal_width 64px);

      display: flex;
      padding: 0 24px;
      font-family: $ff-lato;
      font-size: map-get($sizes, bigger);
      letter-spacing: -0.15px;
      line-height: 22px;
      border-bottom: 1px solid map-get($colors, darker-gray);
      color: map-get($colors, black);
      background-color: map-get($colors, light-gray);
      align-items: center;
      justify-content: space-between;
    }

    &CloseButton {
      @include sizing(24px 24px);

      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    &Body {
      width: 100%;
      padding: 24px 24px 0;
    }

    &DropdownContainer {
      width: 50%;
      margin-top: 4px;
      padding-right: 20px;

      .conciergeDropdownSelectedField,
      .conciergeDropdownMenu {
        width: 100%;
      }

      .conciergeDropdownMenuItem,
      .conciergeDropdownSelectedField,
      .StyledSelect__option {
        height: 48px;
      }

      .conciergeDropdownSelectedField {
        margin-top: 4px;
      }

      .StyledSelect__menu {
        padding: 0;
      }
    }

    &InputsContainer {
      display: flex;
      min-height: 200px;
      flex-wrap: wrap;
    }

    &InputContainer {
      width: 50%;
      padding: 15px 0;

      &:nth-child(odd) {
        padding-right: 20px;
      }

      &:nth-child(even) {
        padding-left: 20px;
      }

      .conciergeInputWrapper {
        height: 85px;
        margin-bottom: 0;
      }
    }

    &SelectWrapper {
      height: 85px;
      margin: 5px 0 0;
    }

    &Select {
      margin: 4px 0 3px;
    }

    &Label {
      font-family: $ff-lato;
      font-size: map-get($sizes, smaller);
      line-height: 18px;
      color: map-get($colors, main-black);
    }

    &Input {
      @include sizing(100% 48px);

      margin: 4px 0 3px;
      padding: 14px 16px;
      font-family: $ff-lato;
      font-size: map-get($sizes, regular);
      line-height: 20px;
      border: 1px solid map-get($colors, darker-gray);
      border-radius: 6px;
      color: map-get($colors, main-black);
      background-color: map-get($colors, white);
    }

    &Footer {
      display: flex;
      width: 100%;
      padding: 0 24px 24px;
      justify-content: flex-end;
    }

    &Cancel {
      @include sizing(109px 48px);

      margin-right: 20px;
      padding: 0;
      font-family: $ff-ibm;
      font-size: map-get($sizes, slightly-bigger);
      line-height: 16px;
      border: 1px solid map-get($colors, blueish-gray);
      border-radius: 6px;
      color: map-get($colors, main-black);
      background-color: map-get($colors, white);
      cursor: pointer;
    }

    &Save {
      @include sizing(96px 48px);

      padding: 0;
      font-family: $ff-ibm;
      font-size: map-get($sizes, slightly-bigger);
      line-height: 16px;
      border: none;
      border-radius: 6px;
      color: map-get($colors, white);
      background: map-get($colors, button-gradient);
      box-shadow: 0 8px 15px 0 rgba(map-get($colors, black), 0.18);
      cursor: pointer;
    }
  }

  &AddIntegrationOverlay {
    @include fixed(top 0 left 0);
    @include sizing(100vw 100vh);

    z-index: $z-index-1;
    background-color: rgba(map-get($colors, darkest-gray), 0.95);
  }
}
