@import '~styles/index.scss';

$modal_width: 554px;
$modal_height: 259px;

.menuTemplates {
  &DeleteModal {
    position: fixed;
    top: calc(50% - #{$modal_height / 2});
    left: calc(50% - #{$modal_width / 2});
    z-index: $z-index-2;
    overflow: hidden;
    width: $modal_width;
    min-height: $modal_height;
    border: 1px solid map-get($colors, darker-gray);
    border-radius: 10px;
    background-color: map-get($colors, white);
    box-shadow: 0 4px 10px 0 rgba(map-get($colors, shadow-gray), 0.08);

    &Header {
      @include sizing(554px 64px);
      @include main-font(bigger);

      display: flex;
      padding: 0 24px;
      letter-spacing: -0.15px;
      line-height: 22px;
      border-bottom: 1px solid map-get($colors, darker-gray);
      color: map-get($colors, black);
      background-color: map-get($colors, light-gray);
      align-items: center;
      justify-content: space-between;
    }

    &CloseButton {
      @include sizing(24px 24px);

      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    &Body {
      width: 100%;
      padding: 24px;
      white-space: normal;
    }

    &Label {
      @include main-font;

      line-height: 18px;
      color: map-get($colors, main-black);
    }

    &Content {
      @include main-font;

      padding: 1em 0;
      color: map-get($colors, main-black);
    }

    &Footer {
      display: flex;
      width: 100%;
      padding: 15px 24px;
      justify-content: flex-end;
    }

    &Cancel {
      @include secondary-font(slightly-bigger);

      width: 109px;
      margin-right: 20px;
      padding: 0;
      line-height: 16px;
      border: 1px solid map-get($colors, blueish-gray);
      color: map-get($colors, white);
      background-color: map-get($colors, blueish-gray);
    }

    &Save {
      @include secondary-font(slightly-bigger);

      width: 126px;
      padding: 0;
      line-height: 16px;
      border: none;
      color: map-get($colors, white);
      background: map-get($colors, pink);
      box-shadow: 0 8px 15px 0 rgba(map-get($colors, black), 0.18);
    }
  }

  &DeleteOverlay {
    @include fixed(top 0 left 0);
    @include sizing(100vw 100vh);

    z-index: $z-index-1;
    background-color: rgba(map-get($colors, darkest-gray), 0.95);
  }
}
